/* styles.css */

/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
}

/* Estilos específicos para el formulario de contacto */
#contact-form {
    background-color: #f8f9fa;
    padding: 30px 15px;
    border-radius: 10px;
}

#contact-form h2 {
    margin-bottom: 20px;
}

#contact-form form {
    max-width: 600px;
    margin: 0 auto;
}

#contact-form label {
    display: block;
    margin-bottom: 8px;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact-form button:hover {
    background-color: #0056b3;
}